# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/.idea
/.vscode
/**/coverage.*
/**/.DS_Store
/**/*.log
/vendor
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Other
*~
*.swp
*.a
*.jar
*.iml
/.idea
/.vscode
/output*
/**/*.zip
/**/.DS_Store
/**/*.db
/**/*.db.lock
/**/*debug.test
/**/debug
/**/*.log
